<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100066462828339&name=xhp_nt_fbaction_open_user" class="social-link">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/devani.krrish/?next=%2F" class="social-link">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/krrish-devani-121076323" class="social-link">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand"> &copy; Wander Lust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>